<html>
	<head>
		<title>{{t}}</title>
		<!-- href="/static/assets/style.css"-->
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Bree+Serif|Charm|Cinzel|Courgette|Exo+2|Ubuntu" rel="stylesheet">
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >
		<script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>
		<script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>
	</head>
<body>
	<div class="container-fluid  bg-primary mt-0 py-4">
<div class="row ">
		<h6 class="offset-sm-10">Welcome <b>{{name}}</b></h6>
		<a class="offset-sm-11" href="/logout"><button type="button" class="btn btn-danger" name="button">Sign-out</button></a>
			<h1 class="display-4 offset-sm-4" id="head_main">{{ h }}</h1>
		</div>
	</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="{{a1}} nav-link" href="/list" style="font-family: 'Bree Serif',serif ;">All </a>
      </li>
      <li class="nav-item">
        <a class="{{a2}} nav-link" href="/" style="font-family: 'Bree Serif',serif ;">Uncompleted</a>
      </li>

      <li class="nav-item">
        <a class="{{a3}} nav-link " href="/completed" style="font-family: 'Bree Serif',serif ;">Completed</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
			<select name="refer" class="form-control mr-sm-2" required>
				<option value="name">Task Name</option>
				<option value="desc">Description</option>
				<option value="date">Date</option>
				<option value="pr">Priority</option>
			</select>
      <input class="form-control mr-sm-2" type="search" name="key" placeholder="Search Task" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>

	<hr>
	<div class="container-fluid">
		<div class="row justify-content-center">
				<h1 class="display-5"style="font-family: 'Courgette', cursive;">To Do List</h1>
		</div>
	</div>
	<div class="container-fluid table-responsive">
	  <table class="table table-hover ">
	    <thead class="thead-dark">
	      <tr>
	        <th>Status</th>
	        <th>Taskname</th>
	        <th>Description</th>
					<th>Date</th>
					<th>Priority</th>
					<th>Remove</th>
	      </tr>
	    </thead>
	    <tbody>
				<form class="" action="/action3" method="POST">
				{% for task in tasks %}
			<input type="text" name="_id" value="{{ task['_id'] }}" hidden>
					<tr>
						<td><a href="./done?_id={{ task['_id'] }}"><input type="image" src="static/images/{{task['done']}}.png" alt="Submit ME"></a></td>
						<td><input type="text" name="name" value="{{ task['name'] }}" placeholder="{{ task['name'] }}"></td>
						<td><textarea type="text" name="desc" rows=2 cols=30 placeholder="{{ task['desc'] }}"> {{ task['desc'] }} </textarea></td>
						<td><input type="text" name="date" value="{{ task['date'] }}" placeholder="{{ task['date'] }}"></td>
						<td><input type="text" name="pr" value="{{ task['pr'] }}" placeholder="{{ task['pr'] }}"></td>
						<td class="func1"><a href="./remove?_id={{ task['_id'] }}"><button class="btn btn-danger btn-sm badge-pill" type="submit"><b>DELETE</b></button></a></td>
					</tr>
				{% endfor %}
				<td><button type="submit" class="btn btn-success "> Update Task </button></td>
			 </form>
	    </tbody>
	  </table>
	</div>
 <hr/
</body>
</html>
